* {
  margin: 0;
  padding: 0;
  transition: 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

  @media only screen and (max-width: 450px) {
    .searchbar:hover > .search_input{
      padding: 0 10px;
      width: 220px;
      caret-color:red;
      transition: width 0.4s linear;
      }
      *,body{
        font-size: 8px;
      }
  }
/*   
  @media only screen and (max-width: 1049px) {
      *,body{
        font-size: 10px !important;
      }
  }
  
  @media only screen and (max-width: 1400) {
  *,body{
    font-size: 12px !important; 
  }
  }

  @media only screen and (min-width: 1410px) {
  *,body{
    font-size: 16px !important; 
  }
  } */

a {
    pointer-events: visiblePainted
 }

.shadow{
  
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.23)!important;
}

body {
  font-family: 'Arial' !important;
  background-size: cover !important;
  background-color: #F5F0F95B !important;
  background-repeat: no-repeat !important;
  background-blend-mode: overlay !important;
}


.container h1{
	font-size: 3rem;	
}
.container h2{
	font-size: 4vh;
	font-weight: 700;	
}
.container h3,.container h4{
	font-weight: 700;	
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.theme-main{
	color:white;
	background-color: #6E62F9;
}
.white-text{
	color:white;
}
.menu-scroll {
  overflow-y: scroll;
  max-height: 200px;
}

*:disabled{
  background-color: #e9ecef!important;
  opacity: 0.5!important; 
}



.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@media only screen and (max-width: 450px) {
  .overlay-button{
    top:60% !important;
    left:85% !important;
    width:15% !important;
  }
}

@media only screen and (max-width: 2450px) {
  .overlay-button{
    top:60% !important;
    left:95% !important;
    width:5% !important;
  }
}

tr td:first-child{
  background-color: #F3F3F3;
}

tr td:first-child:hover{
  background-color: cyan;
}

.focus{
    background-color: #000000ab;	
	display: block;
}

a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    border: 1px solid #AEAEAE;
    border-radius: 0.3rem;
    background: #605F61;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0px 0.5rem ; 
	
}

.boxclose:before {
	color: white;
    content: "×";
}

footer{
	margin: 64px;
	align-items: center;
	text-align: center;
	font-size: 2vh;
	font-weight: 300;
}

.star-button{
	color:#fff;
	width:64px;
	height:64px;
	border: 0px;
	background: url("../img/star.png");
	background-size: 100% 100%;
	opacity: 0.3;
}

.star-button.active, .star-button:hover, .star-button.pinned{
	opacity: 1;
}


@keyframes raiseup {
  from   { transform: translate(10,10);}
to { transform: translate(10,10);
}
}

a.btn {
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.form-control{
  color: #000 !important;
}

#rsid {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
}

.autocomplete_result {
  border: 1px solid silver;
  border-top: 0;
  position: absolute;
  overflow: auto;
  max-height: 128px;
  background: #fff;
  z-index: 100;
}

#rsid, .autocomplete_result {
  width: 200px;
  box-sizing: border-box;
}

#rsid, .autocomplete_result p {
  padding: 4px;
  margin: 0;
  color: #000;
}

.autocomplete_result p:nth-child(2n+1) {
  background: #f6f6f6;
}

.autocomplete_result p:hover {
  background: #e5e5e5;
}

table {
  width: 100%;
}
td { white-space:pre-wrap; word-wrap:break-word }
table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
